<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/exp-atk-screenshot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> EXP-ATK </h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JS</li>
      <li>Ruby on Rails</li>
    </ul>
    <p>A full stack web application created in a team of four to solve the problem of a lack of innovative user-friendly forums.</p>
    <a class="project-link" href="https://github.com/adnanulchowdhury/exp-atk">Launch!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/coaks-pokedex.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Coak's Pokedex </h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>AJAX</li>
      <li>Pokemon API</li>
    </ul>
    <p>A personal pokedex built with Html, Css, JavaScript, and front-end framework named "materialize". Ajax call was implemented to gather information about three pokemons.</p>
    <a class="project-link" href="https://adnanulchowdhury.github.io/personal-pokedex-project/">Launch!</a>
  </div>
</div>
